body {
	background-color: #242424;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 200vh;
}

header > nav {
	display: flex;

	align-items: center;
	justify-content: space-between;
}
ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
ul > li {
	list-style: none;
	font-size: 20px;
}
ul > li > a {
	display: flex;

	text-decoration: none;
	color: #fff;
}

#headline {
	font-size: 30px;
	font-weight: 800;
	background-image: linear-gradient(
		90deg,
		transparent 50%,
		rgb(255, 217, 102) 1%
	);
	letter-spacing: 0.5px;
}
#tify {
	color: rgb(48, 48, 48);
	letter-spacing: 1.5px;
}
.nav-item {
	font-size: 25px;
	padding: 10px;
	margin-right: 15px;
	text-decoration: none;
	color: #fff;
}
nav {
	box-shadow: rgba(255, 217, 102, 0.13) 1px 1px 10px;
	position: fixed;
	width: 100%;
}
